{% extends 'layouts/base.html' %}
{% block body %}

<section class="home container mt-4">
    <form enctype="multipart/form-data" method="post" action="/">
        <div class="row">
            <div class="col-md-9 col-lg-9">
                <div class="card p-3">
                    <div class="card-title text-center">
                        <h2>Steganography tool</h2>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <b class="text-danger">
                                Step 1: Upload your image/audio file to use as a cover object
                            </b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="card p-3">
                    <div class="card-title text-center">
                        <b class="text-danger">
                            Step 2: Select the number of Least Significant Bits (LSBs) to use and your key
                        </b>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

{% endblock %}