{% extends 'layouts/base.html' %}
{% block body %}

<section class="home container mt-4">
    <form enctype="multipart/form-data" method="post" action="/" id="stegoForm">
        <div class="row">
            <div class="col-md-9 col-lg-9">
                <div class="card p-3">
                    <div class="card-title text-center">
                        <h2>Steganography tool</h2>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <b class="text-danger">
                                Step 1: Upload your image/audio file to use as a cover object
                            </b>
                        </div>

                        <div id="previewArea" class="text-center mt-3 mb-3">
                            <div id="previewBox"
                                 class="d-flex align-items-center justify-content-center border border-dark">

                                <span id="noFileText" class="text-muted position-absolute">
                                    Drag and drop or choose a file to get started!
                                </span>

                                <!-- For images -->
                                <img src="" id="coverImage" class="d-none" />

                                <!-- For audio waveform -->
                                <div id="waveform" class="d-none w-100 h-100"></div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <input class="form-control" type="file" id="coverFile" name="coverFile"
                                   accept=".bmp,.png,.gif,.wav,.pcm">
                        </div>

                        <div id="fileActions" class="text-center mt-3 d-none">
                            <button type="button" class="btn btn-danger" id="removeFileBtn">Remove File</button>
                        </div>

                        <input type="hidden" id="hiddenTextPayload" name="textPayload">
                        <input type="file" id="hiddenFilePayload" name="payloadFile" class="d-none">
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="card p-3">
                    <div class="card-title text-center">
                        <b class="text-danger">
                            Step 2: Select the number of Least Significant Bits (LSBs) to use and your key
                        </b>
                    </div>
                    <div class="card-body">
                        <div class="mb-2">
                            <label for="lsbCount" class="form-label">
                                Select number of LSBs to use (1-8)
                            </label>
                            <select class="custom-select md-form md-outline d-block" id="lsbCount" name="lsbCount" required>
                                <option selected value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="stegoKey" class="form-label">
                                Please enter a number as a key to hide your object
                            </label>
                            <input type="number" class="form-control" id="stegoKey" name="stegoKey" required>
                        </div>

                        <div id="step3Text" class="text-center mt-2" style="display: none;">
                            <b class="text-danger">Step 3: Click a location in your file to hide your data</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

<script src="https://unpkg.com/wavesurfer.js"></script>
<script src="{{ url_for('static', filename='js/script.js') }}" type="text/javascript"></script>

{% endblock %}

{% block modals %}
<div class="modal fade" id="locationModal" tabindex="-1" aria-labelledby="locationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-center" id="locationModalLabel">
                <b class="text-danger">
                    Step 4: Enter some text or upload a file to be used as your payload
                </b>
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="form-group">
                  <label class="form-label" for="textPayload">Text Input</label>
                  <textarea id="textPayload" rows="4" class="form-control"></textarea>
              </div>
              <div class="text-center my-2">
                  <b>OR</b>
              </div>
              <div class="mt-2">
                  <input class="form-control" type="file" id="payloadFile" name="payloadFile"
                         accept=".exe,.txt,.pdf,image/*">
                  <button class="btn btn-sm btn-danger d-none" id="removePayloadBtn">Remove file</button>
                  <p class="text-danger mt-2">File must be text, image, exe, or pdf type</p>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success" id="hideBtn">Hide my data!</button>
          </div>
        </div>
    </div>
</div>

{% endblock %}
